Dear {{user['first-name']}},

A Crowd account has been created for you so that you can log into the Atlassian services (Jira, Stash, Bamboo etc.):

username: {{user['name']}}
password: {{user['password']}}

Please log into {{opts.crowd_url}} and change your password as requested.

Note that it may take a few minutes for your new account to propagate to the various components (e.g. Stash).

Regards,
The IT Team
